{% extends "base.html" %}

{% block title %}
{% endblock %}

{% load static %}
{% block css %}
{#    <meta name="viewport" content="width=device-width,initial-scale=1">#}
{#    <meta charset="UTF-8">#}
{#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}
    {% csrf_token %}
        <div class="main-wrap">
            <div class="right-menu" id="right-menu">
                <ul>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                    <li class="list">
                        <a href="#">출퇴근</a>
                    </li>
                </ul>
            </div>
            <button class="show-bnt" id="show-bnt"><img src="{% static 'imgs/open.png' %}"></button>
            <button class="hide-bnt" id="hide-bnt"><img src="{% static 'imgs/close.png' %}"></button>
            <div class="main-content-wrap">
                <div class="logo-text">
                    <img src="{% static 'imgs/Discord_Merlin_bot_logo.png' %}">
                </div>
                <div>
                    asdsadsadsa
                </div>
                <div class="main-content">
                    <ul>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                        <li>
                            <p>내용을 입력공간</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/test.js' %}"></script>
{% endblock %}

