.header{
    /*background-color: blue;*/
    padding: 30px 20px 0 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-items: center;
    /*grid-template-columns: 1fr 4fr 1fr;*/
    width: 100%;
    height: 30px;
    z-index: 2;
}
.header nav {
    position: center;
}
.header nav img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    top: 0;
    position: fixed;
    cursor: pointer;
}
.search-text{
    height: 40px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
    position: fixed;
    top: 9px;
    margin-left: 400px;
}
@media (max-width: 660px) {
    .search-text{margin-left: 130px}
}
.search-text input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search-text button{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}

/* footer */
.footer{
    background-color: blueviolet;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    /*margin-top: 1000px;*/
    width: 100%;
    height: 150px;
    /*margin-top: 1px;*/
    border-top: 1px solid lightgray;
}
@media (max-width: 660px) {
    .footer{width: 100%}
}