<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="../static/css/test.css">
    <title>Title</title>

</head>
<body>
    <div class="wrap">
        <div class="header">
            <nav>
                대충 헤더 부분
            </nav>
            <button class="show-bnt" id="show-bnt"> 일단 버튼</button>
            <button class="hide-bnt" id="hide-bnt"> hide 버튼</button>
        </div>
        <div class="right-menu" id="right-menu">
            <ul>
                <li class="list">
                    <a href="#">출퇴근</a>
                </li>
                <li class="list">
                    <a href="#">출퇴근</a>
                </li><li class="list">
                    <a href="#">출퇴근</a>
                </li><li class="list">
                    <a href="#">출퇴근</a>
                </li><li class="list">
                    <a href="#">출퇴근</a>
                </li><li class="list">
                    <a href="#">출퇴근</a>
                </li>
            </ul>
        </div>
        <div class="main-content">
                대충 내용 부분
        </div>
    </div>
    <div class="footer">
        대중 푸터 부분
    </div>

</body>
</html>
<script src="../static/js/test.js"></script>