html::-webkit-scrollbar{
    /*display: none;*/
    overflow: auto;
}
html::-webkit-scrollbar{
    /*background: #1b5ac2;*/
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: #1b5ac2;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
html::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.wrap{
    display: flex;
}
.wrap::-webkit-scrollbar{
    /*display: none;*/
}


.main-wrap{
    display: flex;
    height: 1000px;
}

.right-menu{
    /*background-color: red;*/
    width: 250px;
    height: 90vm;
    margin-top: 100px;
    overflow: auto;
}
.right-menu .list{
    margin-top: 20px;
}
.right-menu::-webkit-scrollbar{
    /*background: #1b5ac2;*/
    width: 10px;
}
.right-menu::-webkit-scrollbar-thumb{
    background-color: #1b5ac2;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.right-menu::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
@media (max-width: 660px) {
    .right-menu{ display: none }
    .right-menu{ position: relative}
}
/* main content css*/
.main-content-wrap{
    /*background-color: aqua;*/
    width: 1000px;
    height: 100vm;
    margin-top: 50px;
    margin-left: 10px;
    overflow: auto;

}
.main-content-wrap::-webkit-scrollbar{
    /*background: #1b5ac2;*/
    width: 10px;
}
.main-content-wrap::-webkit-scrollbar-thumb{
    background-color: #1b5ac2;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.main-content-wrap::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
@media (max-width: 660px) {
    .main-content-wrap{width: 100vw}
    .main-content-wrap{height: 95%}

}
.logo-text{
    display: flex;
    justify-content: center;
}
.logo-text img{
    width: 800px;
    height: 400px;
    margin-top: 30px;
}
.logo-text span{
    position: center;
    margin-top: 400px;
    margin-right: 300px;
}
/* button */
.show-bnt{
    margin-top: 52px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    z-index: 1;
    position: fixed;
    color: #ffffff;
    background: #1b5ac2;

}
@media (min-width: 660px) {
    .show-bnt{display: none}
}

.show-bnt img{
    width: 30px;
    height: 30px;

}
.hide-bnt{
    margin-top: 52px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    z-index: 1;
    position: fixed;
    color: #ffffff;
    background: #1b5ac2;
}
@media (max-width: 660px) {
    .hide-bnt{position: fixed}
    .hide-bnt{margin-left: 250px}
    .hide-bnt{display: none}
}

.hide-bnt img{
    width: 30px;
    height: 30px;
}

#wrap{
  margin:0 auto;
  width:300px;
}
#back-to-top {
  display: inline-block;
  background-color: #1b5ac2;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}